<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>
<body>
<div class="container" id="ask-container">
    <div class="card">
        <div class="card-header">
            <h3>Do your ask</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/ask">
                <label>Title</label>
                <input type="text" name="title" class="form-control">
                <br>
                <label>Description</label>
                <textarea name="description" class="form-control"></textarea>
                <br>
                <button class="btn btn-success">Ask</button>
            </form>
        </div>
    </div>
</div>
</body>
<%- include ('partials/footer.ejs')%>